body { font: .76em arial; margin:1em; }
h1,h2,h3 {font-size:1.2em; color: teal}
h1 {font-size:1.6em}
td, th { border:1px solid silver; padding:.4em; }
table { border-collapse:collapse; }
tr:nth-child(odd) { background-color: #e2f7f7;}
p { font-size:1em; }
a { color: #4479B3; text-decoration:none; }
a:hover { text-decoration:underline; }
#admin p {font-size:1.2em}
#matrix th {
max-width : 50px; 
white-space : nowrap;
overflow : hidden;
}
#matrix th:hover {
max-width : initial; 
}
#matrix td a {display: block; height:100%; width:100%; text-indent:-9999px;}
#matrix td a:hover {background-color: lightblue;}
.numeric { text-align: right; }
header {
margin: 0;
padding: 0;
height: 42px;
width: 100%;
min-width: 980px;
position: relative;
z-index: 11;
border-bottom: 1px solid #22303e;
background: #44505d url('https://cdn3-5.cdn.schoology.com/sites/all/themes/schoology_theme/images/header-home.png?7246') no-repeat 10px 10px;
}
#course-logo { float:left; margin: 0 1em 1em 0 }
#assignment-title,
#user-title { clear:both; }

.source {
    font-family: consolas;
    line-height: 1.5;
    background: #ccc;
}
